@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nasalization';
    src: url('/Fonts/nasalization/nasalization-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nasalization', sans-serif;
}

button {
    cursor: pointer;
}

textarea, input {
    outline: none;
}
